*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background-image: url("bweb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:15px 8%;

    background:rgba(0,0,0,0.95);
    border-bottom:1px solid gold;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:80px;
    width:auto;
    object-fit:contain;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:gold;
}


.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:150px 8% 100px;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:60px;
    color:gold;
    margin-bottom:10px;
}

.hero h3{
    font-size:28px;
    margin-bottom:20px;
    color: white;
}

.hero p{
    font-size:20px;
    color:white;
    margin-bottom:30px;
}


.btn{
    display:inline-block;
    background:gold;
    color:black;
    padding:12px 30px;
    text-decoration:none;
    border-radius:8px;
    font-weight:1000;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-10px);
}


.services{
    padding:100px 8%;
    text-align:center;
}

.services h2{
    font-size:42px;
    color:gold;
    margin-bottom:50px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.card{
    width:320px;
    background:black;
    border:1px solid gold;
    border-radius:12px;
    padding:30px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:gold;
    margin-bottom:15px;
    font-size: 25px;
}

.card p{
    color:white;
    font-size: 20px;
}

.projects{
    padding:100px 8%;
    text-align:center;
}

.projects h2{
    font-size:42px;
    color:gold;
    margin-bottom:50px;
}

.project-box{
    max-width:700px;
    margin:auto;
    background:#111;
    border:1px solid #d4af37;
    border-radius:12px;
    padding:30px;
}

.project-box h3{
    color:gold;
    margin-bottom:15px;
    font-size: 25px;
}

.project-box p{
    color:white;
    font-size: 20px;
}

.contact{
    padding:100px 8%;
    text-align:center;
}

.contact h2{
    font-size:42px;
    color:gold;
    margin-bottom:30px;
}

.contact p{
    font-size:18px;
    margin-bottom:10px;
    color:white;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .hero{
        text-align:center;
    }

    .hero h1{
        font-size:42px;
    }

    .hero h3{
        font-size:22px;
    }

    .logo img{
        height:60px;
    }
}